<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashingqi.dqcommonutils">

    <application>
        <provider
            android:name=".provider.AppContentProvider"
            android:authorities="${applicationId}.dashingqi.346545Json"
            android:exported="false" />
    </application>
</manifest>